/*
COLOR PALETTE:
#201F21 - Raisin black
#002E63 - Berkeley blue
#42424C - Onyx
#011632 - Oxford blue
#433958 - English violet
*/
@font-face {
    font-family: Goldman;
    src: url(../assets/fonts/Goldman-Regular.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
body {
    margin: 0 auto;
    width: 70%;
    background-color: #201F21;
    color: whitesmoke;
    font-family: JosefinSans;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
header {
    text-align: center;
}
h1 {
    font-size: 65pt;
    margin: 0px auto;
}
h1, h2, h3 {
    font-family: Goldman;
}
form label {
    display: block;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18pt;
}
form input {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    color: whitesmoke;
    background-color: #201F21;
    border: none;
    border-radius: 20px;
    font-family: JosefinSans;
    font-size: larger;
    text-align: center;
}
form .question {
    margin: 30px auto;
    padding: 20px;
    background-color: #312b3b;
    border-radius: 20px;
    width: 450px;
    
}
form .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 150px;
    height: 50px;
    background: #3e276f;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    font-family: Goldman;
    font-size: 25px;
    cursor: pointer;
}
form .button:hover {
    background-color: #57389b;
}
footer {
    margin: 0 auto;
}