/*
COLOR PALETTE:
#201F21 - Raisin black
#002E63 - Berkeley blue
#42424C - Onyx
#011632 - Oxford blue
#433958 - English violet
*/
@font-face {
    font-family: Goldman;
    src: url(../assets/fonts/Goldman-Regular.ttf);
}
@font-face {
    font-family: JosefinSans;
    src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
body {
    margin: 0 auto;
    width: 70%;
    background-color: #201F21;
    color: whitesmoke;
    font-family: JosefinSans;
}
header {
    text-align: center;
}
h1 {
    font-size: 65pt;
    margin: 0px auto;
}
h1 a {
    text-decoration: none;
    color: whitesmoke;
}
h1 a:hover {
    opacity: 0.7; 
}
h1, h2, h3 {
    font-family: Goldman;
}
h2 {
    font-size: 24pt;
    text-align: center;
}
ul {
    margin: 0px;
    padding: 0px;
}
nav {
    padding: 30px;
    text-align: center;
}
nav li {
    display: inline-block;
    
}

#active {
    color: whitesmoke;
    background-color: #57389b;
}
nav li a {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #3e276f;
}
nav li a:hover {
    background-color: #57389b;
}
main {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
footer {
    margin: 0 auto;
    font-size: small;
    font-weight: 300;
}